
main{
    display: flex;
    height: 70%;
}

#saya{
    flex: 1 1 50%;
    order: 2;
    background-color: yellow;
    padding: 1em;
    
}

h2{
    font-size: 40px;
}

#sosmed{
    flex: 1 1 25%;
    order: 3;
    background-color: yellowgreen;
    font-size: 40px;
    font: bold;
    padding: 1em;
}

#alamat{
    flex: 1 1 25%;
    order: 1;
    background-color: greenyellow;
    font-size: 40px;
    font: bold;
    padding: 1em;
}
